.BuscarFilmeCard {
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 40vh;
    color: inherit;
    border-radius: 1vh;
    padding: 2vh;
    align-items: center;
    gap: 1vh;
    box-shadow: 1px 7px 15px black;
    background-color: white;

    .poster {
        display: flex;

        img {
            min-width: 100%;
            height: 100%;
        }
    }

    .informacoes {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}