.container_fundo_home {
    display: flex;
    width: 100%;
    height: 91vh;
    justify-content: center;

    .alinhador {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        width: 60%;
        gap: 5vh;

        .lado_esquerdo {
            display: flex;
            width: 50%;
            height: 50vh;
            flex-direction: column;
            padding: 2vh;
            justify-content: center;

            h1 {
                font-size: 7vh;
                color: #AA2522;
            }

            h3 {
                font-weight: bold;
                font-size: 2.5vh;
            }

            h4 {
                font-size: 2vh;
                width: 100%;
                text-align: justify;
            }

            button {
                width: 50%;
                height: 5vh;
                border-radius: 5vh;
                border: #AA2522 0.3vh solid;
                outline: none;
                background-color: #AA2522;
                color: white;
                font-weight: bold;
                margin-top: 2vh;
                cursor: pointer;
                transition: all 0.5s;
            }

            button:hover {
                color: black;
                background-color: transparent;
            }
        }

        .lado_direito {
            display: flex;
            width: 50%;
            height: 50vh;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}