.container_fundo_home {
    display: flex;
    width: 100%;
    height: 73vh;
    justify-content: center;
    background-image: url('../../assets/images/psdsd.svg');

    .alinhador {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-self: center;
        justify-self: center;
        width: 60%;
        gap: 5vh;

        .lado_esquerdo {
            display: flex;
            height: 50vh;
            width: 50%;
            justify-content: center;
            padding: 2vh;
            flex-direction: column;

            h1 {
                font-size: 6vh;
                text-align: left;
                color: #AA2522;
            }

            h3 {
                color: white;
                font-weight: bold;
                text-align: left;
                font-size: 2.5vh;
            }

            h4 {
                color: white;
                font-size: 2vh;
                width: 100%;
                text-align: left;
            }

            #Comecar {
                width: 50%;
                height: 5vh;
                border-radius: 1vh;
                border: #AA2522 0.3vh solid;
                outline: none;
                background-color: #AA2522;
                color: white;
                font-weight: bold;
                margin-top: 2vh;
                cursor: pointer;
                transition: all 0.5s;
            }

            #Comecar:hover {
                color: white;
                background-color: transparent;
            }

            #Navegar {
                width: 50%;
                height: 5vh;
                border-radius: 1vh;
                border: white 0.3vh solid;
                outline: none;
                background-color: transparent;
                color: white;
                font-weight: bold;
                margin-top: 2vh;
                cursor: pointer;
                transition: all 0.5s;
            }

            #Navegar:hover {
                color: black;
                background-color: white;
            }
        }

        .AlinhadorBotoes {
            display: flex;
            flex-direction: row;
            gap: 2vh;
        }

        .lado_direito {
            display: flex;
            width: 50%;
            height: 35vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            img {
                transition: all 0.5s;
            }

            img:hover {
                transform: scale(1.1);
            }
        }
    }
}