.component-comuni {

    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/background.png);

    .meinho-comuni {


        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;

        text-align: center;

        width: 100%;
        height: 100vh;

        .infor-comuni {
            padding: 10px;

            width: 50%;
            height: 40vh;
            color: aliceblue;

            .barrinha-aaa {
                width: 80%;
                height: 8%;
                border-radius: 12px;
            }

            .fotin-grupo {
                border-radius: 25px;
            }

            .submit {
                border: solid 1px;
                border-radius: 15px;


            }


            #Nome-comuni {

                color: aliceblue;
                font-size: 60px;

            }
        }
    }

}

.ListarComunidades {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 60%;
    align-self: center;
    gap: 1vh;
    padding-top: 5vh;

    .BlocoComunidade {
        border-radius: 1vh;
        width: 100%;
        height: 20vh;
        background-color: gray;
    }
}