.component-comuni {

    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/background.png);

    .meinho-comuni {


        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;

        text-align: center;

        width: 100%;
        height: 100vh;

        .infor-comuni {
            padding: 10px;

            width: 50%;
            height: 40vh;
            color: aliceblue;

            .barrinha-aaa {
                width: 80%;
                height: 8%;
                border-radius: 12px;
            }

            .fotin-grupo {
                border-radius: 25px;
            }

            .submit {
                border: solid 1px;
                border-radius: 15px;


            }


            #Nome-comuni {

                color: aliceblue;
                font-size: 60px;

            }
        }
    }

}

.ListarComunidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    align-self: center;
    gap: 2vh;
    padding-top: 5vh;

    .FotoComunidade {
        display: flex;
        background-color: #212121;
        width: 100%;
        height: 15vh;
        border-radius: 1vh 1vh 0vh 0vh;
        overflow: hidden;
        border: none;

        img {
            overflow: hidden;
            width: 100%;
        }
    }

    .Informacoes {
        display: flex;
        padding: 1vh;
        flex-direction: column;
    }

    .BlocoComunidade {
        border-radius: 1vh;
        width: 100%;
        height: 25vh;
        background-color: #1C1D1D;
        color: white;
        flex-direction: column;
        transition: all 0.5s;

        h4 {
            font-size: 2.5vh;
        }

        h5 {
            font-size: 1.9vh;
        }
    }

    .BlocoComunidade:hover {
        transform: scale(1.02);
    }
}

.CriarComunidade {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;

    .Coluna {
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
            height: 5vh;
            font-size: 2vh;
            outline: none;
            border: 0.1vh rgba(128, 128, 128, 0.322) solid;
            padding: 1vh;
            border-radius: 0.8vh;
        }
    }
}

@media screen and (max-width: 768px) {
    .component-comuni {
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/images/background.png);

        .meinho-comuni {
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
            height: 100vh;

            .infor-comuni {
                padding: 10px;
                width: 50%;
                height: 40vh;
                color: aliceblue;

                .barrinha-aaa {
                    width: 80%;
                    height: 8%;
                    border-radius: 12px;
                }

                .fotin-grupo {
                    border-radius: 25px;
                }

                .submit {
                    border: solid 1px;
                    border-radius: 15px;
                }


                #Nome-comuni {
                    color: aliceblue;
                    font-size: 60px;

                }
            }
        }

    }

    .ListarComunidades {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        align-self: center;
        gap: 2vh;
        padding-top: 5vh;

        .FotoComunidade {
            display: flex;
            background-color: #212121;
            width: 100%;
            height: 15vh;
            border-radius: 1vh 1vh 0vh 0vh;
            overflow: hidden;
            border: none;

            img {
                overflow: hidden;
                width: 100%;
            }
        }

        .Usuarios {
            display: flex;
            align-items: flex-end;
            height: 4vh;
        }

        .Informacoes {
            display: flex;
            padding: 1vh;
            flex-direction: column;
        }

        .BlocoComunidade {
            border-radius: 1vh;
            width: 100%;
            height: 30vh;
            background-color: #1C1D1D;
            color: white;
            flex-direction: column;
            transition: all 0.5s;
        }

        .BlocoComunidade:hover {
            transform: scale(1.02);
        }
    }

    .CriarComunidade {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1vh;
        padding-left: 2vh;
        padding-right: 2vh;

        .Coluna {
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                height: 5vh;
                font-size: 2vh;
                outline: none;
                border: 0.1vh rgba(128, 128, 128, 0.322) solid;
                padding: 1vh;
                border-radius: 0.8vh;
            }
        }
    }
}