.HomeAbaRecomendados {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;

    .reviews_title {
        display: flex;
        height: 10vh;
        width: 60%;
        align-items: center;
        justify-content: center;
    }

    .BannersExibicao {
        display: flex;
        padding-top: 2vh;
        flex-direction: row;
        width: 60%;
        align-items: center;
        justify-content: center;
        gap: 2vh;

        img {
            width: 100%;
            height: 80%;
        }

        img:hover {
            cursor: pointer;
        }
    }
}