* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_header {
    background-color: black;
    background-size: cover;
    height: 70px;
}

.container_header_elements {
    padding: 10px;
}

.container_header_elements {
    display: flex;
    justify-content: space-around;
}

.container_header_links {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}

.container_header_links a {
    text-decoration: none;
    color: white;
    padding-top: 15px;
}

.container_header_links_effect {
    margin-top: 15px;
}

.container_header_links_effect :hover {
    color: #7B2121;
    transition: all 0.5s;

}

.container_header_links select {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    background-color: transparent;
    color: white;
}

.container_header_nav :hover {
    border: white solid 1px;
}

.container_header_nav option {
    color: black;
}

.container_header_elements_icons img {
    filter: invert(1);
    margin-top: 10px;
}

.container_header_button button {
    background-color: #7B2121;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    transition: 0.05s;
}

.container_header_button button:hover{
    transform: scale(1.04);
}

.container_header_button a{
    color: white;
    text-decoration:none;
    font-weight: bold;
}


.container_header_configuration img {
    filter: invert(1);
    margin-top: 10px;
}



.container_header_elements_after {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.container_background {
    background-color: #171D25;
    width: 100%;
}

.container_section_image {
    background-image: url(/public/assets/images/movie_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
}

.container_filter {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-self: center;
    color: white;
    column-gap: 50px;
    padding-top: 15px;
}

.container_linha_verical {
    width: 1px;
    height: 25px;
    background-color: white;
}

.container_filter_elements {
    display: flex;
    flex-direction: row;
    border: solid 1px white;
    border-radius: 5px;
    column-gap: 10px;
}

.container_filter_elements select {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
    color: gray;
}

.container_filter_search input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

.container_background_01 {
    height: 60vh;
    width: 100%;
    background-color: #171D25;
    overflow: hidden;


}

.container_title_highlights {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.container_title_highlights hr {
    display: flex;
    justify-self: center;
    width: 750px;
    height: 1px;
}

.container_specify_hightlights {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-self: center;
    column-gap: 653px;
    padding-top: 10px;
}

.container_specify_hightlights h3 {
    text-decoration: underline;
    color: white;
}

.container_specify_highlights a {
    text-decoration: none;
    color: white;
}

.container_pointer {
    display: flex;
    border: none;
    outline: none;
    transform: scaleX(-1);
    align-items: center;
    padding-bottom: 50px;
    filter: invert(1);
}

.container_pointer_2 {
    display: flex;
    border: none;
    outline: none;
    align-items: center;
    padding-bottom: 50px;
    filter: invert(1);
}

.container_highlights_posters {
    display: flex;
    justify-self: center;
    column-gap: 50px;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 5px;
}

.container_img_poster img {
    border-radius: 5px;
    border: gray 1px solid;
}

.container_img_poster :hover {
    border: #7B2121 solid 5px;
    transition: all 0.3s;
}

.container_preset_standard {
    width: 150px;
}

.container_desc_poster {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.container_dot_navigation_bg {
    display: flex;
    justify-self: center;
    background-color: #7B2121;
    border-radius: 10px;
    width: 120px;
    margin-top: 10px;
}

.container_dot_navigation {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    column-gap: 10px;
}

.container_dot_navigation :hover {
    filter: invert(1);
    transition: all 0.5s;

}

@media (max-width: 500px) {
    .container_ {
        display: flex;
        flex-direction: column;
    }

}