* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container_principal {
    display: flex;
    flex-direction: column;
    background-color: 3D3D3D;

    .container_infoUsuario {
        display: flex;
        gap: 2vh;

        .info {
            display: flex;

        .foto_perfil {
            background-color: black;
            border-radius: 360px;
            padding: 0%;
            margin: 0%;
        }
     
     }
    }
}