.container_home {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .container_highlights {
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 60vh;
        background-color: #AA2522;
        align-items: center;
        justify-content: center;

        .highlights_content {
            display: flex;
            width: 60%;
            height: 60vh;
            padding-top: 3vh;
            flex-direction: column;

            .highlights_title {
                display: flex;
                gap: 2vh;
                flex-direction: row;

                img {
                    width: 100%;
                    height: 53%;
                }

                h1 {
                    font-size: 3vh;
                    color: white;
                }

                h3 {
                    font-size: 2vh;
                    color: white;
                }
            }
        }

        .carrossel {
            display: flex;
            align-self: center;
            justify-content: center;
            width: 100%;
            height: 80%;

            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: grab;
            }

            .movie_render {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img {
                    width: 80%;
                    height: 50%;
                }

                .alinhador {
                    display: flex;
                    flex-direction: row;
                    margin-top: 1vh;
                    gap: 2vh;

                    .lado_esquerdo {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 1vh;
                    }

                    img {
                        width: 30%;
                        height: 100%;
                    }

                    .lado_direito {
                        display: flex;
                        gap: 1vh;
                        align-items: center;
                    }
                }
            }


            .swiper-slide:active {
                cursor: grabbing;
            }

            .swiper-button-prev,
            .swiper-button-next {
                display: none;
                color: black;
            }

            .swiper-pagination-bullet {
                display: none;
                background: black;
            }

            .swiper-pagination-bullet:active {
                display: none;
                background: gray;
            }
        }

    }

    .container_reviews {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        background-color: white;

        .container_reviews_content {
            display: flex;
            flex-direction: column;
            width: 60%;

            .reviews_title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 10vh;
                flex-direction: column;
            }

            .bloco_vermelho {
                display: flex;
                width: 20%;
                height: 10%;
                border-radius: 0.5vh;
                background-color: #AA2522;
            }

            .review {
                display: flex;
                background-color: green;
                width: 100%;
                height: 22vh;
                flex-direction: row;

                .lado_esquerdo {
                    display: flex;
                    background-color: pink;
                }

                .lado_direito {
                    display: flex;
                    background-color: pink;
                }
            }
        }
    }
}