.container_home {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;

    .container_highlights {
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 75vh;
        background-color: transparent;
        color: #000000;
        background: linear-gradient(to bottom, #5A0001, #000000);
        align-items: center;
        justify-content: center;

        .highlights_content {
            display: flex;
            width: 60%;
            height: 65vh;
            padding-top: 3vh;
            flex-direction: column;

            .highlights_title {
                display: flex;
                gap: 2vh;
                flex-direction: row;

                img {
                    width: 100%;
                    height: 53%;
                }

                h1 {
                    font-size: 3vh;
                    color: white;
                }

                h3 {
                    font-size: 2vh;
                    color: white;
                }
            }

            .menu-categorias {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                gap: 1rem;
                justify-content: center;
            }

            .menu-item {
                cursor: pointer;
                padding: 0.5rem 1rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
                color: white;
                font-size: 20px;
                transition: all 0.5s;
            }

            .menu-item:hover {
                color: #F3A712;
            }

            .menu-item:active {
                transform: scale(0.98);
            }

        }

        .carrossel {
            display: flex;
            align-self: center;
            justify-content: center;
            width: 100%;
            height: 35vh;

            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .movie_render {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42.5vh;
                flex-direction: column;

                #Posteres {
                    // width: 100%;
                    box-shadow: 2px 2px 6px black;
                    height: 70%;
                }

                .alinhador {
                    display: flex;
                    flex-direction: row;
                    margin-top: 1vh;
                    align-items: center;
                    justify-content: center;
                    gap: 2vh;

                    .lado_esquerdo {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 50%;
                        gap: 1vh;
                    }

                    .lado_direito {
                        display: flex;
                        gap: 1vh;
                        width: 50%;
                        align-items: center;
                    }
                }
            }


            .swiper-slide:active {
                cursor: grabbing;
            }

            .swiper-button-prev,
            .swiper-button-next {
                display: none;
                color: black;
            }

            .swiper-pagination-bullet {
                display: none;
                flex-direction: column;
                background: black;
            }

            .swiper-pagination-bullet:active {
                display: none;
                background: gray;
            }
        }

    }

    // .lista_paginas {
    //     display: flex;
    //     background-color: red;
    //     width: 20%;
    //     height: 5vh;
    //     align-self: center;
    //     justify-self: center;
    //     gap: 5vh;
    //     align-items: center;
    //     justify-content: center;
    //     list-style: none;
    //     font-size: 3vh;

    //     ul {
    //         align-items: center;
    //         justify-content: center;
    //     }

    //     li {
    //         align-items: center;
    //         justify-content: center;
    //     }

    //     #Bolinha {
    //         background-color: #F3A712;
    //         width: 100%;
    //         height: 100%;
    //         text-align: center;
    //         transition: all 0.5s;
    //         border-radius: 50%;
    //     }

    //     #Bolinha:hover {
    //         cursor: pointer;
    //         transform: scale(1.1);
    //     }
    // }

    .container_reviews {
        display: flex;
        width: 100%;
        padding: 2vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 50vh;
        gap: 2vh;
        background-color: white;

        .container_reviews_content {
            display: flex;
            flex-direction: column;
            width: 60%;

            .reviews_title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 10vh;
                flex-direction: column;
            }

            .bloco_vermelho {
                display: flex;
                width: 20%;
                height: 10%;
                border-radius: 0.5vh;
                background-color: #AA2522;
            }

            .review {
                display: flex;
                width: 70%;
                height: 30vh;
                flex-direction: row;
                align-self: center;

                .lado_esquerdo {
                    display: flex;
                    width: 25%;

                    img {
                        min-width: 100%;
                        min-height: 100%;
                    }
                }

                .lado_direito {
                    display: flex;
                    width: 75%;

                    .camada1 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        height: 5vh;

                        .perfil {
                            display: flex;
                            width: 70%;
                            justify-self: left;
                            align-self: baseline;
                            height: 5vh;
                            align-items: center;
                            padding-left: 2vh;
                            gap: 1vh;
                        }

                        h3 {
                            min-width: 45%;
                        }

                        img {
                            width: 15%;
                            height: 100%;
                            cursor: pointer;
                        }

                        .review_content {
                            display: flex;
                            width: 100%;
                            text-align: justify;
                            padding-left: 2vh;
                            padding-right: 2vh;
                        }

                        #Estrela {
                            width: 9% !important;
                            height: 50%;
                        }
                    }

                    .interacao {
                        display: flex;
                        width: 100%;

                        .lado_esquerdo {
                            display: flex;
                            padding-left: 2vh;
                            width: 25%;
                            height: 4.3vh;
                            gap: 1vh;
                            align-items: center;
                        }

                        .lado_central {
                            display: flex;
                            width: 16%;
                            gap: 1vh;
                            align-items: center;
                            padding: 1vh;
                            height: 4.3vh;
                        }

                        .lado_direito {
                            display: flex;
                            padding-left: 2vh;
                            width: 25%;
                            height: 4.3vh;
                            gap: 1vh;
                            align-items: center;
                            width: 50%;
                        }
                    }
                }
            }
        }

        .botao_carregar {
            display: flex;
            justify-content: center;
            width: 60%;
            height: 5vh;
            padding: 5vh;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0.3vh #F3A712 solid;
                outline: none;
                border-radius: 5vh;
                background-color: #F3A712;
                width: 30%;
                height: 4.5vh;
                cursor: pointer;
                font-size: 2vh;
                transition: all 0.5s;
            }

            button:hover {
                background-color: transparent;
            }
        }

    }
}