.AlinhadorGeralComentario {
    display: flex;
    width: 30%;
    height: 35vh;
    flex-direction: column;
    justify-self: center;
    gap: 2  vh;

    form {
        display: flex;
        flex-direction: column;
    }

    textarea {
        display: flex;
        width: 100%;
        height: 5vh;
        padding: 1vh;
        border-radius: 1vh;
    }

    input {
        width: 100%;
        height: 5vh;
        border-radius: 1vh;
        padding: 1vh;
    }

    button {
        display: flex;
        width: 100%;
        height: 5vh;
        justify-content: center;
        align-items: center;
        border-radius: 1vh;
        cursor: pointer;
        margin-top: 5vh;
    }
}