.CardComentario {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: #EFECE3;
    overflow: hidden;
    border-radius: 1vh;
    color: black;

    .FotoPerfil {
        display: flex;
        width: 20%;
        height: 8vh;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 50%;
        }
    }

    .AlinhadorComentario {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15vh;
        padding: 1vh;

        .Perfil {
            display: flex;
            width: 100%;
            height: 3vh;
            align-items: center;
            flex-direction: row;
            gap: 1.5vh;

            h3 {
                font-size: 2.5vh;
            }
        }

        .Analise {
            display: flex;
            width: 100%;
            height: 10vh;

            h4 {
                font-size: 2.2vh;
            }
        }

        .Curtidas {
            display: flex;
            width: 100%;
            height: 20%;
            align-items: center;
        }
    }

}