.CardComentario {
    display: flex;
    width: 50%;
    height: 20vh;
    background-color: white;
    border-radius: 1vh;
    color: black;
    overflow: hidden;

    .LadoEsquerdo {
        display: flex;
        width: 30%;
        border-radius: 1vh 1vh 0vh 0vh;
    }

    .TituloCard {
        display: flex;
        align-items: center;
        gap: 1.5vh;

        img {
            border-radius: 50%;
        }
    }

    .Alinhador {
        display: flex;
        width: 70%;
        flex-direction: column;
        padding-bottom: 1vh;
    }

    .LadoDireito {
        display: flex;
        width: 100%;
        height: 17vh;
        text-align: left;
        flex-direction: column;
        border-radius: 0vh 1vh 0vh 0vh;
        justify-content: center;
        padding: 1vh;
        flex-direction: column;
    }

    .Interacoes {
        display: flex;
        height: 3vh;
        width: 100%;
        flex-direction: row;

        .Coracao {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3vh;
            width: 20%;

            h3 {
                font-size: 2.4vh;
            }
        }

        .Comentarios {
            display: flex;
            align-items: center;
            width: 20%;
            justify-content: center;

            h3 {
                font-size: 2.4vh;
            }
        }
    }
}