// index.scss

.container_registro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;

    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../assets/images/BackgroundFilmes.png);
    background-size: cover;
    background-position: center;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
    }

    .registro {
        background-color: #111111;
        padding: 3rem;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        margin-top: 20px;
        width: 100%;
        max-width: 500px;

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 0.5rem;
                font-weight: 600;
                color: #A7A9A9;
            }

            input,
            textarea {
                background-color: #333;
                border: none;
                padding: 0.75rem 1rem;
                margin-bottom: 1.5rem;
                border-radius: 16px;
                font-size: 1rem;
                color: #ffffff;

                &::placeholder {
                    color: #aaa;
                }

                &:focus {
                    border-color: #A7A9A9;
                    outline: none;
                }
            }

            button {
                padding: 0.75rem 1rem;
                background-color: #CB1B25;
                color: #fff;
                font-weight: 600;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: #5a0001;
                }
            }
        }

        p {
            margin-top: 1.5rem;
            text-align: center;
            color: white;
            font-size: 0.9rem;

            a {
                color: #CB1B25;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
