.container_header{
display: flex;
justify-content: space-around;

.container_nav{
    ul{
        display: flex;
        gap: 2rem;
        list-style: none;

        a {
            text-decoration: none;
        }
    }
}

.header_login{
    display: flex;
    gap: .7rem;
    .foto_perfil{
        width: 50px;
        height: 50px;
        background-color: #313131;
        border-radius: 50%;
    }
}

}