.container_configurar {
    .container_fotos {
        .foto_atual {
            height: 200px;
            width: 200px;
            background-color: gray;
            border-radius: 50%;
            margin: 1rem;
        }

        .fotos {
            display: flex;
            justify-content: space-around;

            .escolher_foto {
                height: 200px;
                width: 200px;
                background-color: gray;
                border-radius: 50%;
                margin: 1rem;
            }
        }
    }
}