.DetalhesDaObra {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .AlinhadorDetalhes {
        display: flex;
        width: 60%;

        .DetalhesConteudo {
            display: flex;
            color: white;
            width: 50%;
            flex-direction: column;
        }

        .Trailer {
            display: flex;
            width: 50%;
            justify-content: right;
            align-items: center;
            color: white;
            gap: 2vh;
        }

        button {
            width: 30%;
            height: 4.5vh;
            cursor: pointer;
            border-radius: 1vh;
            outline: none;
            transition: all 0.5s;
            font-size: 1.8vh;
            font-weight: 700;
            border: none;
            background-color: #AA2522;
            color: white;
        }

        button:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(1.1);
            background-color: #802523;
        }

    }
}