.DetalhesDaObra {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .AlinhadorDetalhes {
        display: flex;
        width: 60%;

        .DetalhesConteudo {
            display: flex;
            color: white;
            width: 50%;
            flex-direction: column;
        }

        .Trailer {
            display: flex;
            width: 50%;
            justify-content: right;
            align-items: center;
            color: white;
            gap: 2vh;
        }

        button {
            width: 30%;
            height: 4.5vh;
            cursor: pointer;
            border-radius: 1vh;
            outline: none;
            transition: all 0.5s;
            font-size: 1.8vh;
            font-weight: 700;
            border: none;
            background-color: #AA2522;
            color: white;
        }

        button:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(1.1);
            background-color: #802523;
        }

    }

}

.PosterSinopse {
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .EspacoDetalhes {
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: left;
        gap: 5vh;
        color: white;
    }

    img {
        border-radius: 0.5vh;
        transition: all 0.5s;
    }


    #BackgroungDoFilme {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -999;
        filter: brightness(15%);
    }

    .DetalhesAlinhador {
        display: flex;
        height: 30vh;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .Detalhes {
        display: flex;
        gap: 1.5vh;
        width: 5%;
        gap: 1vh;
    }

    .Diretor {
        display: flex;
        margin-bottom: 1vh;
        flex-direction: column;
    }

    .Information {
        display: flex;
        gap: 1vh;
    }

    .Sinopse {
        display: flex;
        margin-top: 2vh;
        text-align: justify;
        border-radius: 1vh;
        font-size: 2vh;
    }
}

.SessaoComentarios {
    display: flex;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0) 15%);
    padding-top: 5vh;
    color: #EFECE3;

    .OsComentarios {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 60%;
        align-items: center;
    }

    .BlocoVermelho {
        display: flex;
        background-color: red;
        width: 10%;
        border-radius: 0.5vh;
        height: 0.5vh;
        margin-bottom: 5vh;
    }

    .Comentarios {
        display: flex;
        width: 70%;
    }
}

.Modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;

    input {
        width: 100%;
        height: 5vh;
        font-size: 2vh;
        outline: none;
        border: 0.1vh rgba(128, 128, 128, 0.322) solid;
        padding: 1vh;
        border-radius: 0.8vh;
    }
}