.EspacoDetalhes {
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    color: white;

    .EspacoDetalhes {
        display: flex;
        width: 60%;
        height: 30vh;
        flex-direction: column;
        align-self: center;
        justify-self: center;

        img {
            width: 20vh;
            height: 100vh;
        }

        #BackgroungDoFilme {
            display: flex;
            position: absolute;
            width: 100%;
            filter: brightness(40%);
            height: 100vh;
            align-self: center;
            justify-self: center;
            z-index: -999;
        }
    }
}