.EspacoDetalhes {
    display: flex;
    width: 100%;
    height: 70vh;
    background-color: white;
    justify-content: center;

    .EspacoDetalhes {
        display: flex;
        width: 60%;
        height: 30vh;
        flex-direction: column;
        align-self: center;
        justify-self: center;

        img {
            width: 20vh;
            height: 100vh;
        }
    }
}